<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluent">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <!-- centering -->





      <!-- Signature -->
      <div class="row sigRow">
        <div class="col text-center">
          <img src="assets/FaviconPNGIcon.png">
        </div>
      </div>
      <!-- End Signature -->


      <!-- centering -->
      <div class="row aboutRow;">
        <div class="col">
          asd
        </div>
      </div>
      <!-- centering -->





      <!-- END centering -->
    </div>
    <div class="col-2"></div>
  </div>
</div>

